 body {
    height: 500px;
    /* display: flex; */
    align-items: center;
    color: solid black;
} 
.c,.simbol,.samadengan{
    font-size: 25px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border:none;
}

.cal {
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: grid;
    width: 350px;
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    background-color: black;
}
.display {
    align-content: center;
    text-align: end;
    border-radius: 10px;
    border-radius: 5px;
    background-color: green;
    grid-column: 1/5;
    color: white;
    font-size: 22px;
}
.c {
    align-content: center;
    border-radius: 10px;
    background-color: red;
}
.simbol {
    border-radius: 10px;
    align-content: center;
    background-color: rgb(0, 110, 255);
}
.kotak {
    border-radius: 10px;
    align-content: center;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
}
.samadengan {
    align-content: center;
    border-radius: 10px;
    background-color: lightgreen;
    grid-column: 4/5;
    grid-row: 4/7;
}