p{
  /*  color: rgb(red, green, blue); */
  /* color: #fff */
  color: #ff6500;
}

.mobil{
    color: goldenrod;
}

#BMW {
    color: #fff;
}

#Ferrari{
    color: darkblue;
}

body {
    /*background-color:hotpink;*/
   /* background: linear-gradient(45deg, green,blue);*/
   background:url("./img/prabowo.jpeg") ;
}

.text{
    color: firebrick;
    font-family:fantasy;
    text-transform:uppercase ;
    text-align: center;

}

.konten{
    background-color: deeppink;
    width: 200px ;
    height:300px ;
    align-content: center;
    padding: 10px;
    margin: 50px;
    border: 8px solid,#fff;
    border-radius: 15px;
    transition:2s;

}

.text::first-letter{
    font-size: 36px;
}

.text:hover::first-letter{
    color: #fff;
}

.konten:hover{
    background-color:dodgerblue;
    cursor:pointer;
}

.lorem::first-line{
    color: #fff;
}