.navbar{
    height: 60px;
    width: 100%;
    align-items:center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
}

.navitem{
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin-left: 100px;
}

.navitem p:hover{
    cursor: pointer;
    text-decoration: underline;
    color: gold;
    transform: translate(0,-2px);
}

p a { 
color:solid black;
text-decoration: none;
}

.logo{
    height: 60px;
    width: auto;
}

